/* Style sheet */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

}

/* Navigation Bar */

.main-header {
    background-color: #000000;
    height: 94px;
    padding: 31px 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header img {
    width: 92px;
    height: 32px;
}

.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 63px;
}

.navigation {
    flex-grow: 2;
    padding-left: 40px;
}

nav>a {
    text-decoration: none;
    color: #ffffff;
    padding: 28px;
    font-weight: 600;

}

#buy-btn {
    padding: 7px 28px;
    background: #ba0cc5;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* Main Section */

.main-section {
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-attachment: fixed;
    height: 92vh;
    text-align: center;
    padding: 12% 0px;
    line-height: 90px;
}

.main-div h1 {
    color: #ffffff;
    font-size: 80px;
}

.main-div h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}

#reauest-btn {
    margin-top: 35px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #ba0cc5;
    cursor: pointer;
}

/* For mobile responsive */

/* @media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }

    .main-header {
        background-color: #000000;
        height: 210px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-header img {
        width: 80px;
        margin: 5px 25px;
    }

    nav {
        color: #ffffff;
        margin-top: 10px;
    }
} */